
head {
    
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-shadow: border-box;


.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

}
.parallax{
    background: rgb(255, 255, 255);
    background-attachment: fixed;
    background-size: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position:relative;
    overflow: hidden;

}

.parallax .mask{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(0, 0, 0, 0,7);
    z-index:2;
}
.parallax-content{
    z-index:3;
    display:block

}

.parallax-content{
  background: #000000d6;
  box-shadow: 0 10px 30px #ffffff;
  width:90%; 
  height: auto;
  border-radius: 40px;
  float:center;
  color: white;
  margin-top: 10%;
}



.parallax-content p a{
  color: white;
}

.parallax-content p a:hover {
  color: #f96900;
  cursor: pointer;
}



.text1{
    color:#ffff;
    font-size: 75px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    
}


/*снизу всё что к менюшке*/


    
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
}


section {
  padding: 0rem 2%;
} 

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px #000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  border-radius: 50px;
  line-height: 35px;
}

.header .logo img {
  width: 70px;
  height: 70px;
  position: relative;
}



.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    padding: 10px 0;
    transition: color 0.3s ease; /* Плавный переход цвета текста */
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: blue;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; /* Плавное появление черты */
}

.navbar a:hover::after {
    width: 100%; /* Черта появляется полностью при наведении */
}

.navbar a:hover {
    color: black; /* Оставляем цвет текста неизменным при наведении */
}


#menu {
  cursor: pointer;
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo img {
  height: 50px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease; /* Плавный переход цвета текста */
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: blue;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease; /* Плавное появление черты */
}

.navbar a:hover::after {
  width: 100%; /* Черта появляется полностью при наведении */
}

.navbar a:hover {
  color: black; /* Оставляем цвет текста неизменным при наведении */
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  margin-right: 20px;
}

.burger .line {
  width: 30px;
  height: 3px;
  background-color: black;
}

/* Адаптивность для мобильных устройств */
@media (max-width:1300px) {
  section {
      padding: 0rem 5%;
    line-height: 35px;
  }
  html {
    font-size: 80%;
  }
  }
  
  @media (max-width:1250px) {
  section {
      padding: 0rem 5%;
    line-height: 35px;
  }
  html {
    font-size: 80%;
  }
  }
  
  @media (max-width:1200px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:1150px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:1100px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:1050px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:1000px) {
  section {
    padding: 0rem 5%;
    line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  .parallax-content p {
    font-size: 16px
    }
      .parallax-content h1 {
        font-size: 30px;
        }
        .custom-button {
          font-size: 20px;
        }
        .title {
          font-size: 30px;
        }
        .container p {
          font-size: 30px;
        }
  }
  
  @media (max-width:950px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:900px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:887px) {
    section {
      padding: 0rem 5%;
    line-height: 35px;
    }
    html {
    font-size: 70%;
    }
    }
  
  @media (max-width:850px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 70%;
  }
  }
  
  @media (max-width:800px) {
  section {
  padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 60%;
  }
  }
  
  @media (max-width:700px) {
    section {
    padding: 0rem 5%;
    line-height: 35px;
    }
    html {
    font-size: 65%;
    }
    .container p {
      font-size: 20px;
    }
  }
@media (max-width: 500px) {
  .navbar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: white;
      width: 100%;
      text-align: center;
      padding: 20px 0;
  }

  .navbar.active {
      display: flex;
  }

  .burger {
      display: flex;
  }

  .navbar a {
      margin: 10px 0;
      font-size: 20px;
  }
}

  /*сверху всё что к менюшке*/



  /*ниже все что к слайдеру*/

  .container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 10px solid var(--clr-dark);
    margin-top: 100px;
    background-color: #d2b41c00;
    margin-bottom: 100px;
  }  

  .item {
    width: 250px;
    height: 300px;
    background-color: white;
    padding: 5em;
    font-weight: 700;
    border-radius: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5em;
    column-gap: 3rem;
    row-gap: 12rem;
  }

  h1 {
    background-color: #2259ff;
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
    color: white;
  }

  h5 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #2259ff;
  }


  .item-1 {
    background-image: url(./logo1.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 23%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-2 {
    background-image: url(./logo2.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 23%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-3 {
    background-image: url(./logo3.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 23%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-4 {
    background-image: url(./logo4.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-5 {
    background-image: url(./logo5.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-6 {
    background-image: url(./logo6.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-7 {
    background-image: url(./logo7.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-8 {
    background-image: url(./logo8.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-9 {
    background-image: url(./logo9.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 23%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-10 {
    background-image: url(./logo10.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-11 {
    background-image: url(./logo11.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 23%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-12 {
    background-image: url(./logo12.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 23%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-13 {
    background-image: url(./logo13.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-14 {
    background-image: url(./logo14.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-15 {
    background-image: url(./logo15.jpg);
    width: 300px;
    height: 150px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    background-repeat: no-repeat;
    display: inline-block;
    transition: 0.5s;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .item-16 {
    background-image: url(./logo16.jpg);
    width: 300px;
    height: 230px;
    position: relative;
    box-shadow: 0 30px 40px #000000;
    display: inline-block;
    background-repeat: no-repeat;
    transition: 0.5s;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }



    /*выше все что к слайдеру*/


    .parallax-text{
        position: relative;
        display: block;
        text-align: left;
        text-wrap: balance;
        font-family: Arial, Helvetica, sans-serif;
        background: #ffffff;
        box-shadow: 0 10px 30px #ffffff;
        width: 100%; 
        border-radius: 0px;
        height: auto;
        color: rgb(0, 0, 0);
        margin-bottom: 0;
        font-size: 20px;
        margin-top: -60px;
      }


      .parallax-text p{
        margin: 2% 10% 2% 19%;
        line-height: 35px;
      }

      @media (max-width:500px) {
        .parallax-text p {
          margin: 2% 5% 2% 5%;
          line-height: 35px;
        }
        h1 {
          font-size: 40px;
        }
        h5 {
          font-size: 25px;
        }
        .parallax-text .title {
          margin-top: 30px;
          padding: 15px;
        }
      }

      .parallax-text b {
        margin-left: 5%;
      }


      .keywords {
        color: rgb(0, 0, 0);
        font: bold;
        font-style: italic;
      }

      .container-title {
        display: flex;
        justify-content: space-around;
      }


      .button-container {
        display: flex;
        justify-content: center; /* Центрирование кнопки */
        margin-top: 30px;
    }  

      .custom-button {
        background-color: #007bff;
        color: white;
        padding: 15px 30px;
        font-size: 25px;
        border-radius: 50px; /* Округленные края */
        text-decoration: none;
        text-align: center;
        transition: all 0.3s ease;
        box-shadow: 0 8px 20px rgb(0, 0, 0);
    }
   .custom-button:hover {
        background-color: #0056b3;
        transform: scale(0.95); /* Scale при наведении */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Усиление тени при наведении */
    }
    
    .custom-button:active {
        transform: scale(0.9); /* Ещё сильнее при клике */
    }



    /*подвал снизу*/
  
    footer{
      width: 100%;
      height: auto;
      background: rgb(0, 0, 0);
      box-shadow: 0 -10px 10px #ffffff;
      margin: 0 auto;
      text-align: center;
      padding-top: 30px;
      position: absolute;
      padding-bottom: 50px;
    }

footer a{
  color:white;
  font-size: 20px;
  margin-left: 20px;
}

footer nav a:hover{
  border-bottom: 1px solid white;
}

.graficlogo{
    margin-top: 30px;
    margin-bottom: 0px;
    width:200px;
    height:200px;
	  float:center;
    
}
.social img{
  margin-bottom: 20px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.social img:hover{
  border: 2px solid #ffffffe4;
}   