
head {
    
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    height: 100%;


.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

}
.parallax{
    background: rgb(255, 255, 255);
    background-attachment: fixed;
    background-size: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position:relative;
    overflow: hidden;
}



.text1{
    color:#ffff;
    font-size: 75px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-bottom: 20px;
    position: relative;
    
}


/*снизу всё что к менюшке*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
}


section {
  padding: 0rem 2%;
} 

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px #000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  border-radius: 50px;
  line-height: 35px;
}

.header .logo img {
  width: 70px;
  height: 70px;
  position: relative;
}



.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    padding: 10px 0;
    transition: color 0.3s ease; /* Плавный переход цвета текста */
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: blue;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; /* Плавное появление черты */
}

.navbar a:hover::after {
    width: 100%; /* Черта появляется полностью при наведении */
}

.navbar a:hover {
    color: black; /* Оставляем цвет текста неизменным при наведении */
}


#menu {
  cursor: pointer;
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo img {
  height: 50px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease; /* Плавный переход цвета текста */
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: blue;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease; /* Плавное появление черты */
}

.navbar a:hover::after {
  width: 100%; /* Черта появляется полностью при наведении */
}

.navbar a:hover {
  color: black; /* Оставляем цвет текста неизменным при наведении */
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  margin-right: 20px;
}

.burger .line {
  width: 30px;
  height: 3px;
  background-color: black;
}

/* Адаптивность для мобильных устройств */
@media (max-width:1300px) {
  section {
      padding: 0rem 5%;
    line-height: 35px;
  }
  html {
    font-size: 80%;
  }
  }
  
  @media (max-width:1250px) {
  section {
      padding: 0rem 5%;
    line-height: 35px;
  }
  html {
    font-size: 80%;
  }
  }
  
  @media (max-width:1200px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:1150px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:1100px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:1050px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:1000px) {
  section {
    padding: 0rem 5%;
    line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  .parallax-content p {
    font-size: 16px
    }
      .parallax-content h1 {
        font-size: 30px;
        }
        .custom-button {
          font-size: 20px;
        }
        .title {
          font-size: 30px;
        }
        .container p {
          font-size: 30px;
        }
  }
  
  @media (max-width:950px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:900px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 80%;
  }
  }
  
  @media (max-width:887px) {
    section {
      padding: 0rem 5%;
    line-height: 35px;
    }
    html {
    font-size: 70%;
    }
    }
  
  @media (max-width:850px) {
  section {
    padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 70%;
  }
  }
  
  @media (max-width:800px) {
  section {
  padding: 0rem 5%;
  line-height: 35px;
  }
  html {
  font-size: 60%;
  }
  }
  
  @media (max-width:700px) {
    section {
    padding: 0rem 5%;
    line-height: 35px;
    }
    html {
    font-size: 65%;
    }
    .container p {
      font-size: 20px;
    }
  }
@media (max-width: 500px) {
  .navbar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: white;
      width: 100%;
      text-align: center;
      padding: 20px 0;
  }

  .navbar.active {
      display: flex;
  }

  .burger {
      display: flex;
  }

  .navbar a {
      margin: 10px 0;
      font-size: 20px;
  }
}

  /*сверху всё что к менюшке*/



  /*ниже все что к слайдеру*/

  .container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 10px solid var(--clr-dark);
    margin-top: 100px;
    background-color: #d2b41c00;
    margin-bottom: 0;
  }  


  h1 {
    background-color: #2259ff;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    color: #ffffff;
    padding: 10px 10px 20px 10px;
  }

  h5 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #2259ff;
  }




   a h3{
      color: #000;
    }


    h3{
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 20px;
        left: 225px;
        font-size: 25px;
        font-weight: 10;
        box-shadow: 0 20px 30px #000000;
    }
    
    h3 {
        width: auto;
        height: auto;

        border-radius: 50px;
        cursor: pointer;
        margin: 0 5px;
        transition: 0.3s;
        background-color: #dddbdbd0;
    }

    h3:hover{
    background: #6a6a70a1;
    color: #ffffff;
    }

    h3 {
        padding: 15px 35px;
        opacity: 0;
        animation: animate 0.7s ease-in-out 0.3s 1 forwards;
        }

    @keyframes animate{
        from{
            opacity: 0;
            transform: translate(0, 100px);
            filter: blur(33px);
        }
        to{
            opacity: 1;
            transform: translate(0);
            filter: blur(0);
        }
    }


    /*выше все что к слайдеру*/

    .content-menu {
      width: 100%;
      max-width: 1000px; /* Максимальная ширина контейнера */
      margin: 20px auto;
      padding: 10px;
      background-color: #307cff00; /* Мягкий синий фон */
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
  }
  
  .menu-item {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 10px;
  }
  
  .menu-title {
     font-size: 20px;
      text-align: left;
      background-color: #007bff; /* Цвет заголовка меню */
      color: white;
      padding: 18px;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  .menu-title:hover {
      background-color: #003f83; /* Цвет при наведении */
  }
  
  .menu-content {
      max-height: 0; /* Скрываем меню по умолчанию */
      overflow: hidden; /* Скрываем переполнение */
      transition: max-height 1s ease-out; /* Плавный переход по max-height */
  }

  .container-logo {
    margin-top: 100px;
  }
  
  table {
      width: 100%;
      margin-bottom: 20px;
      border-collapse: collapse; /* Убираем отступы между ячейками */
  }
  
  td {
      padding: 10px;
      border: none; /* Скрытие границ таблицы */
      background-color: #fff; /* Белый фон для ячеек */
  }
  
  strong {
      display: block; /* Выделяем заголовки программ */
      margin-bottom: 5px;
  }


.menu-title {
    position: relative;
    font-size: 1.5rem; /* размер шрифта заголовка */
}
.apply-button {
  position: absolute;
  background-color: #007bff;
  color: white;
  right: 0;
  margin-top: -15px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 50px; /* Округленные края */
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 2px solid #007bff;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgb(0, 0, 0);
}

.apply-button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.3);
  transform: scale(0.9);
}
.apply-button:active {
  transform: scale(0.9); /* Ещё сильнее при клике */
}

/* Стиль для модального окна */
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стиль для формы */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input, select {
    padding: 12px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    padding: 15px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

  .custom-button {
      background-color: #007bff;
      color: white;
      padding: 15px 30px;
      font-size: 25px;
      border-radius: 50px; /* Округленные края */
      text-decoration: none;
      text-align: center;
      transition: all 0.3s ease;
      box-shadow: 0 8px 20px rgb(0, 0, 0);
  }

  @media (max-width:500px) {
    .custom-button {
      font-size: 15px;
    }
  }



@media (max-width:500px) {
  .apply-button {
    font-size: 15px;
  }
}


.apply-button:active {
    transform: scale(0.9); /* Ещё сильнее при клике */
}

  h2 {
    text-align: center;
  }


  hr {
    border: none; /* Убираем стандартные границы */
    height: 2px; /* Высота линии */
    background-color: rgb(0, 0, 0); /* Цвет линии */
    margin: 20px 0; /* Отступы сверху и снизу */
    width: 100%; /* Ширина на всю ширину родительского элемента */
  }

    @media (max-width: 900px) {
        .menu-title {
            font-size: 16px; /* Уменьшение размера текста на мобильных устройствах */
        }
        td {
            font-size: 16px; /* Уменьшение размера текста в ячейках */
        }
        h1 {
            font-size: 25px;
        }
    }

    @media (max-width: 700px) {
        .menu-title {
            font-size: 14px; /* Уменьшение размера текста на мобильных устройствах */
        }
        td {
            font-size: 12px; /* Уменьшение размера текста в ячейках */
        }
    }
  
     @media (max-width: 600px) {
      .menu-title {
          font-size: 14px; /* Уменьшение размера текста на мобильных устройствах */
      }
      td {
          font-size: 12px; /* Уменьшение размера текста в ячейках */
      }
    }

    .parallax-text{
        position: relative;
        display: block;
        text-align: left;
        text-wrap: balance;
        font-family: Arial, Helvetica, sans-serif;
        background: #ffffff;
        box-shadow: 0 10px 30px #ffffff;
        width: 100%; 
        border-radius: 0px;
        height: auto;
        color: rgb(0, 0, 0);
        margin-bottom: 0;
        font-size: 20px;
        margin-top: -50px;
      }


      .parallax-text p{
        margin: 2% 19%;
        line-height: 35px;
      }

      .parallax-text b {
        margin-left: 5%;
      }

      .keywords {
        color: rgb(0, 0, 0);
        font: bold;
        font-style: italic;
      }

      .container-title {
        display: flex;
        justify-content: space-around;
      }

      .title {
        box-shadow: 0 20px 50px #000000;
        font-size: 250%;
        font-size: 25px;
        font-weight: 100;
        position: relative;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        margin-bottom: 2%;
      }
      
      .title {
        background-color: rgb(49, 90, 254);
        color: white;
        border-radius: 50px;
        padding: 1.5%;
        padding-left: 4%;
        padding-right: 4%;
        cursor: pointer;  
      }
      
      .title:hover {
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        scale: 0.95;
      }

      .title-1 {
        box-shadow: 0 20px 50px #000000;
        font-size: 250%;
        font-size: 25px;
        font-weight: 100;
        position: relative;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        margin-bottom: 4%;
      }
      
      .title-1 {
        background-color: rgb(49, 90, 254);
        color: white;
        border-radius: 50px;
        padding: 1.5%;
        padding-left: 4%;
        padding-right: 4%;
        cursor: pointer;  
      }
      
      .title-1:hover {
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        scale: 0.95;
      }



    /*подвал снизу*/
  
    footer{
        width: 100%;
        height: 500px;
        background: rgb(0, 0, 0);
        box-shadow: 0 -10px 10px #ffffff;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        position: absolute;
      }
    
      footer {
        display: grid;
        grid-template-rows: 1fr auto; /* Основной контент и футер */
      }

    footer a{
      color:white;
      font-size: 20px;
      margin-left: 20px;
    }
    
    footer nav a:hover{
      border-bottom: 1px solid white;
    }
    
    .graficlogo{
        margin-top: 30px;
        margin-bottom: 0px;
        width:200px;
        height:200px;
          float:center;
        
    }
    .social img{
      margin-bottom: 20px;
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }
    
    .social img:hover{
      border: 2px solid #ffffffe4;
    }